In [7]:
# import necessary libraries
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [8]:
# Load the dataset as fd
df = pd.read_csv("public-debt-ksh-million.csv")
df.head()

   Year      Month Domestic Debt External Debt         Total
0  2021   December  4,032,368.18  4,174,371.53  8,206,739.71
1  2021   November  4,008,077.30  4,109,282.85  8,117,360.15
2  2021    October  3,959,523.30  4,083,124.54  8,042,647.84
3  2021  September  3,937,777.45  4,062,504.78  8,000,282.23
4  2021     August  3,864,875.78  4,054,862.85  7,919,738.63

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 262 entries, 0 to 261
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Year           262 non-null    int64
 1   Month          262 non-null    object
 2   Domestic Debt  262 non-null    object
 3   External Debt  262 non-null    object
 4   Total          262 non-null    object
dtypes: int64(1), object(4)
memory usage: 10.4+ KB

In [10]:
# Remove commas and convert object columns to float
df['Domestic Debt'] = df['Domestic Debt'].str.replace(',', '').astype(float)
df['External Debt'] = df['External Debt'].str.replace(',', '').astype(float)
df['Total'] = df['Total'].str.replace(',', '').astype(float)
df.head(10)

   Year      Month  Domestic Debt  External Debt       Total
0  2021   December     4032368.18     4174371.53  8206739.71
1  2021   November     4008077.30     4109282.85  8117360.15
2  2021    October     3959523.30     4083124.54  8042647.84
3  2021  September     3937777.45     4062504.78  8000282.23
4  2021     August     3864875.78     4054862.85  7919738.63
5  2021       July     3792146.89     4020629.30  7812776.19
6  2021       June     3697093.18     4015299.38  7712392.57
7  2021        May     3686891.72     3799018.81  7485910.53
8  2021      April     3632914.80     3778131.44  7411046.24
9  2021      March     3569840.57     3769866.74  7339707.31

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 262 entries, 0 to 261
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Year           262 non-null    int64
 1   Month          262 non-null    object
 2   Domestic Debt  262 non-null    float64
 3   External Debt  262 non-null    float64
 4   Total          262 non-null    float64
dtypes: float64(3), int64(1), object(1)
memory usage: 10.4+ KB